:root {
  --pewter: rgb(233, 233, 237);
  --greenbeige: #dee6d7;
  --beige: #f3eee4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  background: var(--beige);
}

h1,
h2,
h3 {
  font-family: "Spectral", serif;
}

h1 {
  font-size: 5em;
  text-align: center;
  line-height: 1em;
}

h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
}



audio {
  /* border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px; */
  width: -webkit-fill-available;
  width: -moz-available;

}

td {
  padding-bottom: 50px;
  padding-left: 10px;
}

#topic {
  /* padding: 50px; */
  flex: 1;
}

#summary {
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.topic-section {
  max-width: 800px;
  margin: 0 auto;
}

.topic-audio-section {
  margin: 30px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 2px solid black;
}

.current-interview-info {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

.topic-excerpts {
  margin-top: 30px;
}

.topic-excerpt {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.topic-excerpt:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.4);
}

.topic-excerpt.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: black;
  border-width: 2px;
}

.excerpt-time {
  font-family: "Albert Sans", sans-serif;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
}

.time {
  display: flex;
}


.content {
  max-width: 600px;
  pointer-events: none;
  cursor: default;
  font-family: "Spectral", serif;
}

@media only screen and (max-width: 1024px) {

  table,
  table * {
    font-size: 2rem;

  }

  .content {
    max-width: none;
    width: 100%;
    /* font-size: 1.2em;
    line-height: 1.5;
    font-family: "Spectral", serif; */
  }

  /* tr.excerpt td,
  tr.excerpt td * {
    font-size: 1.2em !important;
    line-height: 1.5 !important;
    font-family: "Spectral", serif !important;
    font-weight: normal !important;
  }

  tr.excerpt td strong {
    font-weight: bold !important;
    font-size: 1.2em !important;
  } */
}

.interview {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.interview table {
  margin: 50px;
  border-collapse: collapse;
}

.intro-section {
  padding: 50px;
  border-bottom: 2px solid black;
}

.meta-section {
  flex: 1;
  height: 100vh;
  align-self: flex-start;
  position: sticky;
  top: 0;
  border-left: 2px solid black;
}

.meta-section img {
  width: 100%;
  border-top: 2px solid black;
}

.youtube-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  border-top: 2px solid black;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.excerpt-section {
  flex: 2;
}

.name-section {
  padding: 0 50px;
}

.name-section h3 {
  font-family: "Albert Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#interviews {
  margin-left: 40px;
}

.list-container button {
  background: none;
  font-size: 20px;
  padding: 10px 20px;
  margin-right: 15px;
  text-transform: uppercase;
  font-family: "Albert Sans", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.list-container button:hover {
  text-decoration: underline;
}

#menu {
  display: none;
  position: absolute;
  right: -45px;
  top: 0;
  height: 100%;
  background: none;
  font-size: 20px;
  right: 0;
  text-transform: uppercase;
  font-family: "Albert Sans", sans-serif;
  font-weight: bold;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  cursor: pointer;
  transition: background 1s ease;
}

.hidden-nav #menu {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .hidden-nav #menu {
    display: flex;
  }
}

.hidden-nav #topic,
.hidden-nav #summary {
  display: none;
}

#menu:hover {
  background: #bdcdb2;
}

.menu-text {
  rotate: -90deg;
}

.meta {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.topic-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topic-list>* {
  display: inline-block;
  color: #000000;
}

.topic-list label {
  font-weight: bold;
  margin-bottom: 10px;
}

.topic-list a {
  cursor: pointer;
}

.resources-block {
  font-size: 14px;
  margin: 10px 0;
  max-width: 250px;
  background-color: var(--pewter);
  padding: 5px;
  border: 1px rgba(0, 0, 0, 0.5) dashed;
  border-radius: 8px;
  cursor: default;
}

@media only screen and (max-width: 1024px) {
  .resources-block {
    font-size: 16px;
    max-width: none;
  }

  #topic {
    padding-top: 2rem;
  }

  #topic h2 {
    margin-top: 0;
  }
}

.resources-block:empty {
  display: none;
}

.resources-block p:first-child {
  margin-top: 0;
}

.resources-block p:last-child {
  margin-bottom: 0;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.interview-list button {
  text-align: left;
}

#nav {
  display: flex;
  height: 100vh;
  position: absolute;
  background: var(--greenbeige);
  width: 100%;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
  z-index: 10;
  border-right: 2px solid black;
}

#nav.hidden-nav {
  transform: translateX(calc(-100% + 72px));
}

#nav-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.nav-left {
  flex: 1;
  border-right: 2px solid black;
  padding: 0 50px;
  align-self: flex-start;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-left::-webkit-scrollbar {
  display: none;
}

.nav-right {
  position: relative;
  flex: 2;
  padding: 60px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.nav-right h2,
.nav-right h3 {
  text-align: left;
}

.nav-right h3 {
  margin-bottom: 5px;
}

tr.excerpt {
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: transparent;
  border-left: 2px solid transparent;
  transition: border 0.3s ease;
  transition: background 0.3s ease;
}

tr.excerpt.active {
  border-left: 2px solid black;
  background: #00000008;
}

tr.excerpt td {
  padding-top: 25px;
  padding-bottom: 25px;
}

.scroll-btn {
  color: #000000;
  background-color: var(--pewter);
  border: 2px solid currentColor;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.p-sm {
  padding: 10px;
}

.topic-list button.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

:root {
  --mobileMenuHeight: 100px;
}

.resources-block a {
  display: block;
  margin: 10px 0;
}

/* mobile styles */
@media only screen and (max-width: 1024px) {

  .nav-right {
  padding: 1rem;
}
.hidden-nav .nav-right {
  padding: 3rem;
}
.topic-section {
  max-width: none;
}

  #interviews {
    display: none;
  }

  .hidden-nav+#interviews {
    display: block;
  }

  #nav-container,
  .nav-right {
    display: block;
  }

  html {
    font-size: 24px;
  }

  h1 {
    font-size: 4em;
    text-align: center;
    line-height: 1em;
  }

  h2 {
    font-size: 3rem;
    margin-top: 1.5em;
  }

  #menu,
  .list-container button {
    font-size: 2rem;
  }

  .interview {
    /* display: block; */
    height: auto;
  }

  .meta-section {}

  .excerpt-section {
    align-self: auto;
  }

  .scroll-btn {
    font-size: 2rem;
  }

  #nav {
    height: auto;
  }

  #nav.hidden-nav {
    transform: translateY(calc(-100% + var(--mobileMenuHeight)));
  }

  .nav-right {
    margin-right: 0px;
  }

  #interviews {
    margin-left: 0px;
  }

  #menu {
    height: var(--mobileMenuHeight);
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 0;
    border: 0;
    width: 100%;
  }

  .menu-text {
    rotate: 0deg;
    /* font-size: 16px; */
  }

  #nav,
  .meta-section {
    border: 0;
  }

  .meta-section {
    margin-top: var(--mobileMenuHeight);
    height: auto;
    width: 100%;
  }

  #nav-container {
    flex-direction: column;
    height: auto;
  }

  .nav-left {
    position: relative;
    height: auto;
    align-self: center;
    border-right: none;
    border-bottom: 2px solid currentColor;
    width: 100%;
  }

  .interview {
    flex-direction: column;
  }

  .excerpt-section {
    order: 2;
  }

  .audioScrollWrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  /* audio {
    border: 0;
    padding: 0;
    margin: 10px;

    position: relative;
    z-index: 1;

  } */


  .excerpt {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  tr.excerpt td {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .meta-section {
    position: relative;
    order: 1;
  }

  .intro-section {
    padding: 20px;
  }

  .interview table {
    margin: 10px;
  }

  .topic-list {
    margin-bottom: 2rem;
    /* margin-bottom: 20%;
    padding-bottom: 15%; */
  }
}

/* end narrow mode media query block */